* {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


.view {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1e2231;
  flex-direction: column;
}

#mediaboard {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30%, 1fr)); /* Duas colunas com largura de 30% cada */
  gap: 10px; /* Espaçamento entre os itens */
  padding: 20px;
}

.mediabutton {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f2f2f2;
  padding: 10px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  color: #333;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 100%;
  aspect-ratio: 1/1; /* Define a proporção 1:1 para tornar os botões quadrados */
  min-width: 150px;
  position: relative;
}



.mediabutton:hover {
  background-color: #dcdcdc;
}


.mediabutton:nth-child(odd) {
  grid-column: 1;
}

.mediabutton:nth-child(even) {
  grid-column: 2;
}

